# Visual Studio Files
**/.vs

# project build files
**/bin
**/obj
**/publish

# NuGet
/packages

# projects to ignore
/ConversionTestApp
/Better-Printing-for-OneNote/ProgressReporterWindow.xaml
/Better-Printing-for-OneNote/ProgressReporterWindow.xaml.cs
